
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <img class="logo" src="../../../assets/img/TOUS_Logo.png" alt="Tous">
    </div>
    <div class="col-12">
      <!-- <img class="branding m-4" src="../../../assets/img/frame.png" alt="Tous"> -->
      <img class="branding" src="../../../assets/img/brandingLogo.jpg" alt="Tous">
    </div>
    <div class="col-12 frame">
      <img class="branding m-4" src="../../../assets/img/frame.png" alt="QRCode">
    </div>
    <div class="col-12">
      <button class="btn">
        <a class="start" routerLink="/pregunta">EMPEZAR!</a>
      </button>
    </div>
    
  </div>
</div>
