<div class="row question-box m-auto">
  <p class="question">¿Qué perfume <b>LoveMe</b> usas <br>para cada momento del día?</p>
</div>

<div class="row m-0 answer-box first-answer-box" routerLink="/pregunta/3">
  <div class="col-8">
    <p class="answer" routerLink="/pregunta/3">Las mañanas, para<br>que me aporte energía</p>
  </div>
  <div class="col-4 answer-img-box">
    <img class="answer-img-T36 answer-img" src="../../../assets/img/T36.png" alt="">
  </div>
</div>

<div class="row m-0 answer-box middle-answer-box">
  <div class="col-8">
    <p class="answer" routerLink="/pregunta/3">Cualquier momento,<br>para llevarlo siempre</p>
  </div>
  <div class="col-4 answer-img-box" routerLink="/pregunta/3">
    <img class="answer-img-T33 answer-img" src="../../../assets/img/T33.png" alt="">
  </div>
</div>

<div class="row m-0 answer-box last-answer-box">
  <div class="col-8">
    <p class="answer" routerLink="/pregunta/3">Las noches, como toque<br>final para salir a cenar</p>
  </div>
  <div class="col-4 answer-img-box" routerLink="/pregunta/3">
    <img class="answer-img-silver answer-img" src="../../../assets/img/silver.png" alt="">
  </div>
</div>