<div class="row question-box m-auto">
  <p class="question">¿Qué tipo de mujer<br/><b>TOUS LoveMe</b> te consideras?</p>
</div>

<div class="row m-0 answer-box first-answer-box" routerLink="2">
  <div class="col-8">
    <p class="answer" routerLink="2">Espontánea y divertida</p>
  </div>
  <div class="col-4 answer-img-box">
    <img class="answer-img-silver answer-img" src="../../../assets/img/silver.png" alt="" rel="preload">
  </div>
</div>

<div class="row m-0 answer-box middle-answer-box">
  <div class="col-8">
    <p class="answer" routerLink="2">Elegante y sofisticada</p>
  </div>
  <div class="col-4 answer-img-box" routerLink="2">
    <img class="answer-img-T36 answer-img" src="../../../assets/img/T36.png" alt="" rel="preload">
  </div>
</div>

<div class="row m-0 answer-box last-answer-box">
  <div class="col-8">
    <p class="answer" routerLink="2">Dulce y soñadora</p>
  </div>
  <div class="col-4 answer-img-box" routerLink="2">
    <img class="answer-img-T33 answer-img" src="../../../assets/img/T33.png" alt="" rel="preload">
  </div>
</div>
