<div class="row question-box m-auto">
  <p class="question mb-0">¿Qué característica crees que <br>tiene el siguiente perfume-joya <br>de la colección <b>LoveMe?</b></p>
</div>

<div class="row m-0 answer-box first-answer-box" routerLink="/fin">
  <div class="col-12 text-center">
    <p class="answer" routerLink="/fin">Un capricho olfativo<br>que tienta los sentidos</p>
  </div>
</div>

<div class="row m-0 answer-box middle-answer-box">
  <div class="col-12 text-center">
    <p class="answer" routerLink="/fin">Es un elixir, el tributo<br>perfecto al lujo exclusivo</p>
  </div>
</div>

<div class="row m-0 answer-box last-answer-box" routerLink="/fin">
  <div class="col-12 text-center">
    <p class="answer" routerLink="/fin">El oro que envuelve esta lujosa pieza</p>
  </div>
</div>